{% load static %}
<html lang="en">
    <head>
        <title>{{ game.name }} - DJeopardy</title>
        <script src="{% static 'core/js/htmx.js' %}"></script>
        <script src="{% static 'core/js/hyperscript.js' %}"></script>
    </head>
    <body>
        <ul>
            {% for game in games %}
                <li>
                    <a href="{% url 'host:game-detail' game.pk %}">{{ game.name }}</a>
                </li>
            {% endfor %}
            <button hx-get="{% url 'host:game-create' %}" hx-swap="outerHTML">New Game</button>
        </ul>
    </body>
</html>