{% load static %}
<html lang="en">
    <head>
        <title>{{ game.name }} - DJeopardy</title>
        <link rel="stylesheet" href="{% static 'core/css/gameboard.css' %}">
        <script src="{% static 'core/js/htmx.js' %}"></script>
        <script src="{% static 'core/js/hyperscript.js' %}"></script>
        {% block extra_js %}
        {% endblock %}
        {% block extra_css %}
        {% endblock %}
    </head>
    <body data-game-pk="{{ game.pk }}">
        <div class="header">
            {% block header %}
            {% endblock %}
        </div>
        {% if host %}
            <button hx-get="{% url 'host:category-create' %}" hx-swap="outerHTML">New Category</button>
        {% endif %}
        <div class="board_container" id="board_container">
            <div class="board" id="board" data-game-pk="{{ game.pk }}">
                {% for category in page %}
                    <div class="category" data-category-pk="{{ category.pk }}">
                        <span class="category-heading">{{ category.name }}</span>
                        {% for answer in category.answers.all %}
                            {% include answer_template with answer=answer %}
                        {% endfor %}
                        {% if host %}
                            <button class="answer" hx-get="{% url 'host:answer-create' %}" hx-swap="outerHTML">Add Answer</button>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            {% if game.current_answer %}
                {% include 'play/answer_full.html' with answer=game.current_answer %}
            {% endif %}
        </div>
        <div class="player-footer">
            <ul>
                {% for player in game.players.all %}
                    <li id="player-{{ player.pk }}">
                        <div>{{ player.name }}</div>
                        <div>{{ player.points }}</div>
                    </li>
                {% endfor %}
                {% if host %}
                    <button hx-get="{% url 'host:player-create' %}" hx-swap="outerHTML">Add Player</button>
                {% endif %}
            </ul>
        </div>
    </body>
</html>
