{% include 'play/answer_full.html' %}

<li id="player-{{ player.pk }}" hx-swap-oob="true">
    <div>{{ player.name }}</div>
    <div>{{ player.points }}</div>
</li>

<div class="player-buzz-in" id="player-buzz-in" hx-get="{% url 'play:game' game.pk %}" hx-target="<.player-buzz-in/>" hx-select="<.player-buzz-in/>" hx-swap="outerHTML" hx-trigger="buzz" hx-swap-oob="true">
    {% if game.current_player %}
        {{ game.current_player }}
    {% else %}
        Buzz In!
    {% endif %}
</div>

{% include 'play/buzz_in.html' %}